.image-details{
  max-width:800px;
  margin:auto;
  padding:20px;
}

.image-details img{
  width:100%;
  border-radius:10px;
  margin-bottom:15px;
}

.image-details h2{
  margin-bottom:15px;
}

.image-details button{
  padding:8px 14px;
  background:#ef4444;
  border:none;
  border-radius:6px;
  color:white;
  cursor:pointer;
}